In [1]:
import pandas as pd

print("Reading the data")
df = pd.read_csv("data\\Kyiv.csv")
df.head()

Reading the data

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,283996800,1979-01-01 00:00:00 +0000 UTC,10800,Kyiv,50.4501,30.5234,-17.39,NaN,-19.48,-24.39,...,NaN,NaN,NaN,0.49,NaN,100,600,Snow,light snow,13n
1,284000400,1979-01-01 01:00:00 +0000 UTC,10800,Kyiv,50.4501,30.5234,-17.05,NaN,-19.28,-24.05,...,NaN,NaN,NaN,0.34,NaN,100,600,Snow,light snow,13n
2,284004000,1979-01-01 02:00:00 +0000 UTC,10800,Kyiv,50.4501,30.5234,-16.58,NaN,-18.95,-23.58,...,NaN,NaN,NaN,0.22,NaN,100,600,Snow,light snow,13n
3,284007600,1979-01-01 03:00:00 +0000 UTC,10800,Kyiv,50.4501,30.5234,-14.88,NaN,-16.89,-21.88,...,NaN,NaN,NaN,0.11,NaN,100,600,Snow,light snow,13n
4,284011200,1979-01-01 04:00:00 +0000 UTC,10800,Kyiv,50.4501,30.5234,-14.78,NaN,-16.79,-21.78,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392784 entries, 0 to 392783
Data columns (total 28 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dt                   392784 non-null  int64
 1   dt_iso               392784 non-null  object
 2   timezone             392784 non-null  int64
 3   city_name            392784 non-null  object
 4   lat                  392784 non-null  float64
 5   lon                  392784 non-null  float64
 6   temp                 392784 non-null  float64
 7   visibility           0 non-null       float64
 8   dew_point            392779 non-null  float64
 9   feels_like           392784 non-null  float64
 10  temp_min             392784 non-null  float64
 11  temp_max             392784 non-null  float64
 12  pressure             392784 non-null  int64
 13  sea_level            0 non-null       float64
 14  grnd_level           0 non-null       float64
 15  humidity             392784 non-null  int64
 16  wind_speed           392784 non-null  float64
 17  wind_deg             392784 non-null  int64
 18  wind_gust            29473 non-null   float64
 19  rain_1h              38995 non-null   float64
 20  rain_3h              32 non-null      float64
 21  snow_1h              15980 non-null   float64
 22  snow_3h              0 non-null       float64
 23  clouds_all           392784 non-null  int64
 24  weather_id           392784 non-null  int64
 25  weather_main         392784 non-null  object
 26  weather_description  392784 non-null  object
 27  weather_icon         392784 non-null  object
dtypes: float64(16), int64(7), object(5)
memory usage: 83.9+ MB

In [3]:
# List of columns to drop
columns_to_drop = ['city_name', 'lat', 'lon', 'dt_iso', 'timezone',
                   'weather_id', 'weather_main', 'weather_description',
                   'weather_icon', 'rain_3h', 'snow_3h', 'sea_level',
                   'grnd_level', 'visibility', 'wind_gust', 'temp_min', 'temp_max']

# Drop the columns
data_cleaned = df.drop(columns=columns_to_drop)

In [4]:
data_cleaned.head()

,dt,temp,dew_point,feels_like,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h,clouds_all
0,283996800,-17.39,-19.48,-24.39,999,82,5.71,98,NaN,0.49,100
1,284000400,-17.05,-19.28,-24.05,998,81,5.59,100,NaN,0.34,100
2,284004000,-16.58,-18.95,-23.58,997,80,5.27,100,NaN,0.22,100
3,284007600,-14.88,-16.89,-21.88,996,83,4.94,97,NaN,0.11,100
4,284011200,-14.78,-16.79,-21.78,995,83,4.69,95,NaN,NaN,100

In [5]:
import numpy as np

# Convert the 'dt' column to a datetime format
data_cleaned['datetime'] = pd.to_datetime(data_cleaned['dt'], unit='s')

# Extract the hour and month
data_cleaned['hour'] = data_cleaned['datetime'].dt.hour
data_cleaned['month'] = data_cleaned['datetime'].dt.month
data_cleaned.head()

,dt,temp,dew_point,feels_like,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h,clouds_all,datetime,hour,month
0,283996800,-17.39,-19.48,-24.39,999,82,5.71,98,NaN,0.49,100,1979-01-01 00:00:00,0,1
1,284000400,-17.05,-19.28,-24.05,998,81,5.59,100,NaN,0.34,100,1979-01-01 01:00:00,1,1
2,284004000,-16.58,-18.95,-23.58,997,80,5.27,100,NaN,0.22,100,1979-01-01 02:00:00,2,1
3,284007600,-14.88,-16.89,-21.88,996,83,4.94,97,NaN,0.11,100,1979-01-01 03:00:00,3,1
4,284011200,-14.78,-16.79,-21.78,995,83,4.69,95,NaN,NaN,100,1979-01-01 04:00:00,4,1

In [6]:

# Represent the hour and month cyclically
data_cleaned['hour_sin'] = np.sin(2 * np.pi * data_cleaned['hour'] / 24)
data_cleaned['hour_cos'] = np.cos(2 * np.pi * data_cleaned['hour'] / 24)
data_cleaned['month_sin'] = np.sin(2 * np.pi * data_cleaned['month'] / 12)
data_cleaned['month_cos'] = np.cos(2 * np.pi * data_cleaned['month'] / 12)

# Drop the original 'hour', 'month', and 'datetime' columns
data_cleaned = data_cleaned.drop(columns=['hour', 'month', 'datetime', 'dt'])

data_cleaned.info()
data_cleaned.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392784 entries, 0 to 392783
Data columns (total 14 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   temp        392784 non-null  float64
 1   dew_point   392779 non-null  float64
 2   feels_like  392784 non-null  float64
 3   pressure    392784 non-null  int64
 4   humidity    392784 non-null  int64
 5   wind_speed  392784 non-null  float64
 6   wind_deg    392784 non-null  int64
 7   rain_1h     38995 non-null   float64
 8   snow_1h     15980 non-null   float64
 9   clouds_all  392784 non-null  int64
 10  hour_sin    392784 non-null  float64
 11  hour_cos    392784 non-null  float64
 12  month_sin   392784 non-null  float64
 13  month_cos   392784 non-null  float64
dtypes: float64(10), int64(4)
memory usage: 42.0 MB

,temp,dew_point,feels_like,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h,clouds_all,hour_sin,hour_cos,month_sin,month_cos
0,-17.39,-19.48,-24.39,999,82,5.71,98,NaN,0.49,100,0.000000,1.000000,0.5,0.866025
1,-17.05,-19.28,-24.05,998,81,5.59,100,NaN,0.34,100,0.258819,0.965926,0.5,0.866025
2,-16.58,-18.95,-23.58,997,80,5.27,100,NaN,0.22,100,0.500000,0.866025,0.5,0.866025
3,-14.88,-16.89,-21.88,996,83,4.94,97,NaN,0.11,100,0.707107,0.707107,0.5,0.866025
4,-14.78,-16.79,-21.78,995,83,4.69,95,NaN,NaN,100,0.866025,0.500000,0.5,0.866025

In [7]:
# Fill NaN values in 'dew_point' using forward-fill
data_cleaned['dew_point'].ffill()

0        -19.48
1        -19.28
2        -18.95
3        -16.89
4        -16.79
          ...
392779     7.74
392780     7.97
392781     7.97
392782     7.97
392783    11.86
Name: dew_point, Length: 392784, dtype: float64

In [8]:
# Fill NaN values in 'rain_1h' and 'snow_1h' with 0
data_cleaned['rain_1h'].fillna(0, inplace=True)
data_cleaned['snow_1h'].fillna(0, inplace=True)
data_cleaned = data_cleaned[data_cleaned['temp']>=-50]

In [9]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392779 entries, 0 to 392783
Data columns (total 14 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   temp        392779 non-null  float64
 1   dew_point   392779 non-null  float64
 2   feels_like  392779 non-null  float64
 3   pressure    392779 non-null  int64
 4   humidity    392779 non-null  int64
 5   wind_speed  392779 non-null  float64
 6   wind_deg    392779 non-null  int64
 7   rain_1h     392779 non-null  float64
 8   snow_1h     392779 non-null  float64
 9   clouds_all  392779 non-null  int64
 10  hour_sin    392779 non-null  float64
 11  hour_cos    392779 non-null  float64
 12  month_sin   392779 non-null  float64
 13  month_cos   392779 non-null  float64
dtypes: float64(10), int64(4)
memory usage: 44.9 MB

In [10]:
from sklearn.preprocessing import MinMaxScaler

# Initialize a scaler
scaler = MinMaxScaler()

# Scale the data
data_normalized = pd.DataFrame(scaler.fit_transform(data_cleaned), columns=data_cleaned.columns)
data_normalized.info()
data_normalized.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392779 entries, 0 to 392778
Data columns (total 14 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   temp        392779 non-null  float64
 1   dew_point   392779 non-null  float64
 2   feels_like  392779 non-null  float64
 3   pressure    392779 non-null  float64
 4   humidity    392779 non-null  float64
 5   wind_speed  392779 non-null  float64
 6   wind_deg    392779 non-null  float64
 7   rain_1h     392779 non-null  float64
 8   snow_1h     392779 non-null  float64
 9   clouds_all  392779 non-null  float64
 10  hour_sin    392779 non-null  float64
 11  hour_cos    392779 non-null  float64
 12  month_sin   392779 non-null  float64
 13  month_cos   392779 non-null  float64
dtypes: float64(14)
memory usage: 42.0 MB

,temp,dew_point,feels_like,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h,clouds_all,hour_sin,hour_cos,month_sin,month_cos
0,0.215017,0.358127,0.180522,0.296296,0.818182,0.000570,0.272222,0.0,0.064304,1.0,0.500000,1.000000,0.75,0.933013
1,0.219916,0.360728,0.184811,0.283951,0.808081,0.000558,0.277778,0.0,0.044619,1.0,0.629410,0.982963,0.75,0.933013
2,0.226690,0.365020,0.190741,0.271605,0.797980,0.000526,0.277778,0.0,0.028871,1.0,0.750000,0.933013,0.75,0.933013
3,0.251189,0.391808,0.212186,0.259259,0.828283,0.000493,0.269444,0.0,0.014436,1.0,0.853553,0.853553,0.75,0.933013
4,0.252630,0.393108,0.213448,0.246914,0.828283,0.000468,0.263889,0.0,0.000000,1.0,0.933013,0.750000,0.75,0.933013

In [11]:
def transform_to_sequences(data, n_input, n_out=1):
    X, y = [], []
    for i in range(len(data) - n_input - n_out + 1):
        X.append(data.iloc[i:(i + n_input)].values)
        y.append(data.iloc[i + n_input:i + n_input + n_out].values)
    return np.array(X), np.array(y)

# Number of input time steps
n_input = 10

# Convert data to sequences
X, y = transform_to_sequences(data_normalized, n_input)

Training the model

In [12]:
import torch
import torch.nn as nn
from torch.utils.data import DataLoader, TensorDataset

In [13]:
class LSTMModel(nn.Module):
    def __init__(self, input_dim, hidden_dim, num_layers, output_dim, dropout_rate):
        super(LSTMModel, self).__init__()
        self.hidden_dim = hidden_dim

        # Define the LSTM layer with dropout
        self.lstm = nn.LSTM(input_dim, hidden_dim, num_layers, batch_first=True, dropout=dropout_rate)

        # Define the output layer
        self.linear = nn.Linear(hidden_dim, output_dim)

    def forward(self, x):
        # Initialize hidden state with zeros
        h0 = torch.zeros(self.lstm.num_layers, x.size(0), self.hidden_dim).requires_grad_()

        # Initialize cell state
        c0 = torch.zeros(self.lstm.num_layers, x.size(0), self.hidden_dim).requires_grad_()

        # We need to detach as we are doing truncated backpropagation through time (BPTT)
        # If we don't, we'll backprop all the way to the start even after going through another batch
        out, (hn, cn) = self.lstm(x, (h0.detach(), c0.detach()))

        # Index hidden state of last time step
        out = self.linear(out[:, -1, :])
        return out

In [14]:
input_dim = X.shape[2]  # number of features
hidden_dim = 64  # number of hidden states in the LSTM
num_layers = 2  # number of LSTM layers
output_dim = y.shape[2]  # number of predicted features (same as input features)
learning_rate = 0.001
num_epochs = 20
batch_size = 64

In [15]:
model = LSTMModel(input_dim=input_dim, hidden_dim=hidden_dim, output_dim=output_dim, num_layers=num_layers, dropout_rate = 0.3)

loss_function = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate)

In [16]:
# Check if GPU is available
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
print("Using device:", device)

Using device: cpu

In [17]:
# Move the model to the device
model = model.to(device)

In [18]:
from tqdm import tqdm  # Import tqdm for progress bars
from sklearn.model_selection import train_test_split
import math
# Split the sequences into a training and test set (e.g., 80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False)

# Convert training and test data to PyTorch tensors
X_train_tensor = torch.tensor(X_train, dtype=torch.float32).to(device)
y_train_tensor = torch.tensor(y_train, dtype=torch.float32).to(device)
X_test_tensor = torch.tensor(X_test, dtype=torch.float32).to(device)
y_test_tensor = torch.tensor(y_test, dtype=torch.float32).to(device)


# Create a TensorDataset and DataLoader
train_dataset = TensorDataset(X_train_tensor, y_train_tensor)
test_dataset = TensorDataset(X_test_tensor, y_test_tensor)
train_loader = DataLoader(train_dataset, batch_size=batch_size, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=batch_size, shuffle=True)

# Training loop with detailed logging
for epoch in range(num_epochs):
    epoch_loss = 0.0
    num_batches = 0
    model.train()
    # Use tqdm for progress bar
    for batch_X, batch_y in tqdm(train_loader, desc=f"Epoch {epoch + 1}/{num_epochs}"):
        batch_X, batch_y = batch_X.to(device), batch_y.to(device)

        # Zero out gradient
        optimizer.zero_grad()

        # Forward pass
        outputs = model(batch_X)
        # Compute loss
        loss = loss_function(outputs, batch_y.squeeze(1))


        # Backward pass and optimize
        loss.backward()
        optimizer.step()

        # Accumulate loss for the epoch
        epoch_loss += loss.item()
        num_batches += 1


    avg_loss = epoch_loss / num_batches
    # Switch to evaluation mode for testing
    model.eval()

    test_loss = 0.0
    test_batches = 0

    # Iterate over test data
    for test_X, test_y in test_loader:
        test_X, test_y = test_X.to(device), test_y.to(device)

        # Compute test output
        test_outputs = model(test_X)
        loss = loss_function(test_outputs, test_y.squeeze(1))
        if not math.isnan(loss.item()):
            test_loss += loss.item()
            test_batches += 1

    # Average the test loss
    avg_test_loss = test_loss / test_batches
    print(f'Epoch [{epoch+1}/{num_epochs}], Train Loss: {avg_loss:.4f}, Test Loss: {avg_test_loss:.4f}')

Epoch 1/20: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4910/4910 [00:41<00:00, 119.41it/s]

Epoch [1/20], Train Loss: 0.0058, Test Loss: 0.0052

Epoch 2/20: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4910/4910 [00:39<00:00, 123.63it/s]

Epoch [2/20], Train Loss: 0.0030, Test Loss: 0.0053

Epoch 3/20: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4910/4910 [00:39<00:00, 123.61it/s]

Epoch [3/20], Train Loss: 0.0029, Test Loss: 0.0053

Epoch 4/20: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4910/4910 [00:40<00:00, 122.00it/s]

Epoch [4/20], Train Loss: 0.0028, Test Loss: 0.0052

Epoch 5/20: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4910/4910 [00:40<00:00, 121.49it/s]

Epoch [5/20], Train Loss: 0.0027, Test Loss: 0.0051

Epoch 6/20: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4910/4910 [00:40<00:00, 120.86it/s]

Epoch [6/20], Train Loss: 0.0027, Test Loss: 0.0051

Epoch 7/20: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4910/4910 [00:40<00:00, 120.78it/s]

Epoch [7/20], Train Loss: 0.0026, Test Loss: 0.0050

Epoch 8/20: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4910/4910 [00:40<00:00, 121.63it/s]

Epoch [8/20], Train Loss: 0.0026, Test Loss: 0.0048

Epoch 9/20: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4910/4910 [00:40<00:00, 121.21it/s]

Epoch [9/20], Train Loss: 0.0026, Test Loss: 0.0048

Epoch 10/20: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4910/4910 [00:41<00:00, 119.09it/s]

Epoch [10/20], Train Loss: 0.0025, Test Loss: 0.0048

Epoch 11/20: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4910/4910 [00:40<00:00, 120.95it/s]

Epoch [11/20], Train Loss: 0.0025, Test Loss: 0.0047

Epoch 12/20: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4910/4910 [00:40<00:00, 119.87it/s]

Epoch [12/20], Train Loss: 0.0025, Test Loss: 0.0047

Epoch 13/20: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4910/4910 [00:40<00:00, 120.91it/s]

Epoch [13/20], Train Loss: 0.0025, Test Loss: 0.0046

Epoch 14/20: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4910/4910 [00:40<00:00, 120.49it/s]

Epoch [14/20], Train Loss: 0.0025, Test Loss: 0.0046

Epoch 15/20: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4910/4910 [00:40<00:00, 120.56it/s]

Epoch [15/20], Train Loss: 0.0024, Test Loss: 0.0047

Epoch 16/20: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4910/4910 [00:41<00:00, 117.09it/s]

Epoch [16/20], Train Loss: 0.0024, Test Loss: 0.0047

Epoch 17/20: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4910/4910 [00:40<00:00, 119.88it/s]

Epoch [17/20], Train Loss: 0.0024, Test Loss: 0.0046

Epoch 18/20: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4910/4910 [00:40<00:00, 120.96it/s]

Epoch [18/20], Train Loss: 0.0024, Test Loss: 0.0047

Epoch 19/20: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4910/4910 [00:41<00:00, 119.35it/s]

Epoch [19/20], Train Loss: 0.0024, Test Loss: 0.0047

Epoch 20/20: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4910/4910 [00:40<00:00, 120.84it/s]

Epoch [20/20], Train Loss: 0.0024, Test Loss: 0.0045

In [19]:
def print_predictions(predictions, scaler):
    # Detach the tensor from computation graph and convert to numpy array
    predictions_np = predictions.detach().cpu().numpy()

    # Inverse transform the predictions to original scale
    print(predictions_np)
    print(predictions_np.reshape(1,-1))
    predictions_original_scale = scaler.inverse_transform(predictions_np.reshape(1,-1))
    # Convert to DataFrame
    predictions_df = pd.DataFrame(predictions_original_scale, columns=data_cleaned.columns)

    # Print predictions
    print(predictions_df)
    return predictions_df

In [20]:
data = test_dataset[1][0].unsqueeze(0).to(device)  # Add batch dimension and move to device
real = test_dataset[1][1].to(device)
model.eval()
pred = model(data).squeeze(0)  # Remove batch dimension from output
print("real")
print_predictions(real, scaler)
print("prediction")
print_predictions(pred, scaler)

real
[[5.5382621e-01 6.5851754e-01 5.3185314e-01 5.1851851e-01 8.3838385e-01
  3.6003636e-04 5.4722220e-01 0.0000000e+00 0.0000000e+00 0.0000000e+00
  0.0000000e+00 5.0000000e-01 2.5000000e-01 9.3301272e-01]]
[[5.5382621e-01 6.5851754e-01 5.3185314e-01 5.1851851e-01 8.3838385e-01
  3.6003636e-04 5.4722220e-01 0.0000000e+00 0.0000000e+00 0.0000000e+00
  0.0000000e+00 5.0000000e-01 2.5000000e-01 9.3301272e-01]]
       temp  dew_point  feels_like  pressure  humidity  wind_speed  \
0  6.120001   3.619999    3.459998    1017.0      84.0        3.61

     wind_deg  rain_1h  snow_1h  clouds_all  hour_sin  hour_cos  month_sin  \
0  196.999985      0.0      0.0         0.0      -1.0       0.0       -0.5

   month_cos
0   0.866025
prediction
[ 5.5831361e-01  6.6169560e-01  5.3618324e-01  5.2866405e-01
  8.3165240e-01  3.8111227e-04  5.3625506e-01 -1.3202243e-04
 -2.1746615e-04  1.8348724e-02 -3.0133128e-04  5.0354338e-01
  2.4681328e-01  9.3097126e-01]
[[ 5.5831361e-01  6.6169560e-01  5.3618324e-01  5.2866405e-01
   8.3165240e-01  3.8111227e-04  5.3625506e-01 -1.3202243e-04
  -2.1746615e-04  1.8348724e-02 -3.0133128e-04  5.0354338e-01
   2.4681328e-01  9.3097126e-01]]
       temp  dew_point  feels_like     pressure   humidity  wind_speed  \
0  6.431381   3.864392    3.803245  1017.821838  83.333588    3.820738

     wind_deg   rain_1h   snow_1h  clouds_all  hour_sin  hour_cos  month_sin  \
0  193.051819 -0.005533 -0.001657    1.834872 -1.000603  0.007087  -0.506373

   month_cos
0   0.861943

,temp,dew_point,feels_like,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h,clouds_all,hour_sin,hour_cos,month_sin,month_cos
0,6.431381,3.864392,3.803245,1017.821838,83.333588,3.820738,193.051819,-0.005533,-0.001657,1.834872,-1.000603,0.007087,-0.506373,0.861943

In [21]:

# Save the model
torch.save(model.state_dict(), './data/model_state_dict.pth')

import joblib

# Save the scaler
joblib.dump(scaler, './data/scaler.gz')

['./data/scaler.gz']

In [22]:
print(scaler.data_min_, scaler.data_max_)

[-3.231e+01 -4.702e+01 -3.870e+01  9.750e+02  1.000e+00  1.000e-02
  0.000e+00  0.000e+00  0.000e+00  0.000e+00 -1.000e+00 -1.000e+00
 -1.000e+00 -1.000e+00] [3.708e+01 2.988e+01 4.057e+01 1.056e+03 1.000e+02 9.999e+03 3.600e+02
 4.191e+01 7.620e+00 1.000e+02 1.000e+00 1.000e+00 1.000e+00 1.000e+00]